[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
pymysql = "*"
drf-nested-routers = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-filter = "*"
pillow = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"
channels = "*"
channels-redis = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
